<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width")

        title Lantel

        link(rel="shortcut icon",href="images/logo/favicon.ico",type="image/x-icon")
        link(rel="icon",href="images/logo/favicon.ico",type="image/x-icon")

        link(href="vendor/normalize.css",rel="stylesheet")
        link(href="vendor/flexboxgrid.min.css",rel="stylesheet")

        link(href="vendor/fractionslider/fractionslider.css",rel="stylesheet")

            
        link(href="css/main.css",rel="stylesheet")

        script(src="vendor/jquery.min.js")
    body.row.center-xs
        include _header

        section.content
            block content

        include _footer

        script(src="vendor/fractionslider/jquery.fractionslider.min.js")
        script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")

        script(src="js/main.js")