section.limiter__container.row.top-xs
	div.col-md-4.col-sm-12.row.sumin-article.top-xs.center-xs
		h2.col-xs-12
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			| CONTÁCTANOS
		p Tus comentarios son muy valiosos. Escríbenos y pronto nos comunicaremos contigo.
	form.form-contact.row.middle-xs.center-xs.col-md-8
		div.col-sm-6.col-xs-12.start-xs.item-contact
			label Nombre
			br
			input(type="text")
		div.col-sm-6.col-xs-12.start-xs.item-contact
			label Ciudad
			br
			input(type="text")
		div.col-sm-6.col-xs-12.start-xs.item-contact
			label Correo
			br
			input(type="text")
		div.col-sm-6.col-xs-12.start-xs.item-contact
			label Teléfono
			br
			input(type="text")
		div.col-xs-12.start-xs.item-contact
			label Comentario
			br
			textarea(type="text")
		button.end-xs(type="submit",value="send") Enviar
footer.limiter__container
	hr
	div.content-footer.row.center-xs.middle-xs.around-xs
		div.col-md-4.col-sm-6.col-xs-12.item-footer.row
			img(src="images/leaf.svg")
			span Comprometidos
			h3 Con El Ambiente
		div.col-md-4.col-sm-6.col-xs-12.item-footer
			p Télefono: 1765 23 45
			p Calle 96 No. 13. 08 Oficina 302
			p Bogotá D.C. , Colombia
			p.text-small-footer Marca Registrada Lantel, 2016
		div.col-md-4.col-sm-6.col-xs-12.item-footer
			img(src="images/logo/logo.png")