footer.limiter__container
	form.form-footer.row.middle-xs.center-xs
		div.col-md-4.col-sm-6.col-xs-12.start-xs
			label Nombre
			br
			input(type="text")
		div.col-md-4.col-sm-6.col-xs-12.start-xs
			label Correo
			br
			input(type="text")
		div.col-md-4.col-sm-6.col-xs-12.start-xs
			label Comentario
			br
			textarea(type="text")
		button.end-xs(type="submit",value="send") Enviar
	div.content-footer.row.center-xs.middle-xs.around-xs
		div.col-md-4.col-sm-6.col-xs-12.item-footer.row
			img(src="images/leaf.svg")
			span Comprometidos
			h3 Con El Ambiente
		div.col-md-4.col-sm-6.col-xs-12.item-footer
			p Télefono: 1765 23 45
			p Calle 96 No. 13. 08 Oficina 302
			p Bogotá D.C. , Colombia
			p.text-small-footer Marca Registrada Lantel, 2016
		div.col-md-4.col-sm-6.col-xs-12.item-footer
			img(src="images/logo/logo.png")