header.header_principal
	div.limiter__container.row.middle-xs.between-sm.center-xs
		h1.col-lg-6.col-md-6.col-sm-12.start-xs: a(href="index.html")
			img(src="images/logo/logo@x2.png")
		h3.col-lg-4.col-md-6.col-sm-12 Somos un equipo preparado para prestar el mejor servicio
			strong .
		section.social_icon.col-lg-2.col-sm-12
			a(href="#")
				img.to-svg(src="images/facebook-icon.svg")
			a(href="#")
				img.to-svg(src="images/twitter-icon.svg")
	div.bar-aux
		img(src="images/logo/logo-white.png")
		div(data-menu=".menu").menu-bars
			span.bar
			span.bar
			span.bar
	include _menu