extends _base

block content

	section.background-image
		article
			div.image-background
				img(src="images/banner/Banner_energia.png")
	section.limiter__container.row.top-xs.suministros
		div.col-md-6.col-sm-6.col-xs-12.row.purple-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span ENERGIA
			div.content-text-item
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aliquam. Libero sint quis harum nostrum illum dicta ut similique recusandae optio, fugiat assumenda cum sunt doloribus est, dolor alias autem!
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="suministros-article.html")
				p.start-xs.col-xs-10 DISEÑO, SUMINISTRO, CONSTRUCCIÓN, OPERACIÓN Y MANTENIMIENTO DE PARQUES SOLARES
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 SOLUCIONES SOLARES PARA REDES DE ALUMBRADO PÚBLICO Y REDES DE SEMAFORIZACIÓN
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 REFRIGERACIÓN SOLAR
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 SISTEMAS DE ILUMINACIÓN
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 CERCAS ELÉCTRICAS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 SERVICIOS DE ENERGÍA SOLAR PARA RIEGOS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 ELECTRIFICACIÓN DE VIVIENDAS RURALES Y URBANAS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 BOMBEO DE AGUA / RIEGOS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 NAVES GANADERAS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 SISTEMAS FOTOVOLTAICOS PARA INFRAESTRUCTURA DE TELECOMUNICACIONES
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-purple(href="#")
				p.start-xs.col-xs-10 SEÑALIZACIONES Y LUMBRADO PÚBLICO
				img.end-xs.to-svg(src="images/plus-icon.svg")
		div.col-md-6.col-sm-6.col-xs-12.row.yellow-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span ENERGIA
			div.content-text-item
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, aliquam. Libero sint quis harum nostrum illum dicta ut similique recusandae optio, fugiat assumenda cum sunt doloribus est, dolor alias autem!
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 TENDIDO REDES DE BAJA, MEDIA Y ALTA TENSIÓN
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 DISEÑO, CONSTRUCCIÓN Y MANTENIMIENTO DE SUBESTACIONES ELÉCTRICAS
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 MANTENIMIENTO DE REDES
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 GESTIÓN DE ENERGÍA
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 REDES DE ALUMBRADO PÚBLICO
				img.end-xs.to-svg(src="images/plus-icon.svg")
			a.row.between-xs.around-xs.middle-xs.rectangle-yellow(href="#")
				p.start-xs.col-xs-10 ILUMINACIÓN LED Y MICROLED
				img.end-xs.to-svg(src="images/plus-icon.svg")
