doctype
html
	head
		title Lantel
		link(href="vendor/normalize.css",rel="stylesheet")
		link(href="vendor/flexboxgrid.min.css",rel="stylesheet")
		link(href="css/main.css",rel="stylesheet")
	body
		section.error
			div.content-error
				img(src="images/img-error.svg")
			div.text-error.row.center-xs.middle-xs
				img.logo-error(src="images/logo/logo@x2.png")
				h3 Somos un equipo preparado para prestar el mejor servicio
					span .
				div.col-xs-12
					h2 error
			footer.limiter__container
				div.content-footer.row.center-xs.middle-xs.around-xs
					div.col-md-6.col-sm-6.col-xs-12.item-footer.row
						img(src="images/leaf.svg")
						span Comprometidos
						h3 Con El Ambiente
					div.col-md-6.col-sm-6.col-xs-12.item-footer
						p Télefono: 1765 23 45
						p Calle 96 No. 13. 08 Oficina 302
						p Bogotá D.C. , Colombia
						p.text-small-footer Marca Registrada Lantel, 2016