extends _base

block content

	section
		div#particles-js
			img(src="images/banner/Banner_principal.png", style="z-index: -1; position: absolute;")
	section.limiter__container.row.middle-xs
		div.title_notice.row.middle-xs
			h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span NOTICIAS
		div.row.middle-xs.center-xs.between-xs.content-news
			div.col-lg-4.col-md-4.col-sm-6.col-xs-12.items-news.center-xs
				div.col-xs.image-item(style="background: url(images/news/default.jpg) no-repeat center; background-size: cover;")
				div.line-item
				div.title-item LOREM IPSUM
				p.text-item  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos amet nihil pariatur magni, labore ad fugit soluta eius minima natus repellendus nisi aperiam nemo maxime totam. Cum expedita, ducimus eaque.
				a(href="news.html").view-plus.row.end-xs
					img.col-xs-1.to-svg(src="images/plus-icon.svg")
					p ver más