extends _base

block content

	section.background-image
		article
			div.image-background
				img(src="images/banner/Banner_nosotros.png")
	section.row.top-xs.between-xs.about-section
			div.col-md-4.col-sm-6.col-xs-12.row.about-item
				h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span MISIÓN
				p.col-xs-12 La misión de LANTEL es ofrecer soluciones integrales al sectod de telecomunicaciones orientadas a cubrir las necesidades de nuestros clientes con personal idóneo e innovador y un portafolio de sercivios y productos de calidad y nueva tecnología, protegiendo el medio ambiente, proporcionando a sus accionistas una rentabilidad creciente y sostenible y a nuestros empleados un completo respaldo para su realización y crecimiento profesional. <br><br> A través de nuestros servicios y productos proporcionar valor agregado para el beneficio de nuestros clientes, nuestra gente y la organización.
			div.col-md-4.col-sm-6.col-xs-12.row.about-item
				h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span VISIÓN
				p LANTEL y su personal serán reconocidos como los mejores aliados de nuestros clientes y líderes en el suministro de productos , nueva tecnología y en la prestación de servicios en el sector de las Telecomunicaciones. Nuestro compromiso empieza desde el momento de la creación de LANTEL y deberá ser consolidado en el 2015 con las siguientes premisas:
				p <strong>Gente:</strong>  Proporcionar un excelente ambiente laboral donde nuestro personal se motive a dar lo mejor de si mismos.
				p <strong>Portafolio de productos y servicios:</strong> Poner al servicio de nuestros clientes un portafolio selecto de servicios y productos de nueva tecnología y de la mejor calidad que permita ofrecer soluciones integrales a las necesidades planteadas.
				p<strong>Aliados:</strong> crecer una importate red de clientes y proveedores, que en conjunto,  permitan crear valor agregado, beneficio mutuo y de larga duración.
				p<strong>Restabilidad:</strong> Maximizar el retorno de la inversión a los accionistas, manteniendo al mismo tiempo la integridad en todas nuestras obras y responsabilidades.
			div.col-md-4.col-sm-6.col-xs-12.row.about-item
				h2.col-xs-12
					img.to-svg(src="images/plus-icon.svg")
					span LIDERAZGO
				strong Liderazgo
				p El coraje para forjar un mejor futuro, lideramos con ejemplo.
				strong Integridad <br/> <p> Ser real y ante todo, actuar con integridad. </p>
				strong Responsabilidad <br/> <p> Si es para comprometerse es para mi. </p>
				strong Pasión <br/><p> Entregado en mente y corazón. </p>
				strong Calidad <br/><p> Hacemos las cosas bien desde el primer momento.</p>
				strong Trabajamos en equipo
				strong Respetamos a la persona 
				strong Nos comunicamos abierta y honestamente 
				strong Nos comprometemos con la comunidad
			div.row.start-xs.team
				div.row.col-md-4.col-sm-6.col-xs-12
					img.col-xs-1.to-svg(src="images/plus-icon.svg")
					h2.col-xs-8 NUESTRO EQUIPO
					div.col-xs-11.rectangle.middle-xs
						h3 Somos un equipo preparado para brindar el mejor servicio.
				div.col-md-4.col-sm-6.col-xs-12.item-team.row.center-xs
					div.member-team.col-xs-12(style="background: url(images/team/team-1.png) no-repeat center; background-size: cover;") 
					h4.col-xs-12 Juan Pérez
					h5 Director General
				div.col-md-4.col-sm-6.col-xs-12.item-team.row.center-xs
					div.member-team.col-xs-12(style="background: url(images/team/team-1.png) no-repeat center; background-size: cover;") 
					h4.col-xs-12 Juan Pérez
					h5 Director General
				div.col-md-4.col-sm-6.col-xs-12.item-team.row.center-xs
					div.member-team.col-xs-12(style="background: url(images/team/team-1.png) no-repeat center; background-size: cover;") 
					h4.col-xs-12 Juan Pérez
					h5 Director General
				div.col-md-4.col-sm-6.col-xs-12.item-team.row.center-xs
					div.member-team.col-xs-12(style="background: url(images/team/team-1.png) no-repeat center; background-size: cover;") 
					h4.col-xs-12 Juan Pérez
					h5 Director General