extends _base

block content

	section.limiter__container.row.top-xs.center-xs
		div.contenido-admin
			table
				tr
					td
						h2
							|QUÉ ES FIBRA ÓPTICA
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam labore officia ipsum dolores facere quidem quasi sapiente ex, ipsam nostrum. Nisi, nihil aut, cum repudiandae sunt eligendi placeat deleniti dolor.
					td
						img(src="images/bkg-purple.png")
					td
						img(src="images/bkg-orange.png")
	div.limiter__container
		a.row.end-xs.btn-back(href="#")
			img.col-xs-1.to-svg(src="images/back-icon.svg")
			p.col-xs-1 VOLVER