extends _base

block content

	section.background-image
		article
			div.image-background
				img(src="images/banner/Banner_telecomunicaciones.png")
	section.limiter__container.row.top-xs.tel-com
		a(href="tel-comunicacion-article.html").col-md-6.col-sm-6.col-xs-12.row.tel-com-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		a(href="#").col-md-6.col-sm-6.col-xs-12.row.tel-com-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		a(href="#").col-md-6.col-sm-6.col-xs-12.row.tel-com-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!