extends _base

block content
	section.limiter__container.row.top-xs.consultancy
		div.col-xs-12.row.consultancy-item.star-xs
			img.to-svg.plus-tel(src="images/plus-icon.svg")
			h2.title-left SOLUCIONES IT
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui non rerum quaerat, vero fugit repellendus ea commodi quas, laudantium eum dicta sunt. Dicta est incidunt praesentium officia dolores autem aliquid.
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
		div.col-md-4.col-sm-6.col-xs-12.row.center-xs.consultancy-item
			div.col-xs-12.imagen(style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;")
			img.col-xs-1.to-svg(src="images/plus-icon.svg")
			h2.col-xs-10 SEGURIDAD EN REDES
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!
	div.limiter__container
		a.row.end-xs.btn-back(href="#")
			img.col-xs-1.to-svg(src="images/back-icon.svg")
			p.col-xs-1 VOLVER