extends _base

block content

	section.background-image
		article
			div.image-background(style="background-color: white;height: 220px;") 
			div.content-title-image-venta.row.middle-xs.center-xs.limiter__container
				h2.col-xs VENTA DE CAPACIDAD </br> Y COBERTURA
	section.content-ventas(style="background-image: url(../images/back-venta.png); width: auto; height: auto; background-size: cover")
		div
			div
				img(src="images/img-back-venta.svg", style="margin-right: 10%;")
			div.row.end-xs.middle-xs
				div.form-search.row.center-xs
					label.col-xs-12 Escriba su busqueda
					input.col-xs-12(style="padding-left: 35px;")
					label.col-xs-12 Seleccione la ciudad
					select.col-xs-12
						option Seleccione
						option Bogotá D.C.
						option Cali
						option Medellin
						option Tunja
						option Sogamoso
					label.col-xs-12 Seleccione regíon
					select.col-xs-12
						option Seleccione
						option Antioquia
						option Boyacá
						option Cundinamarca
						option Nariño
						option Santander
					label.col-xs-12 Seleccione operario
					select.col-xs-12
						option Seleccione
						option N/A
						option N/A
						option N/A