
<footer class="limiter__container">
  <form class="form-footer row middle-xs center-xs">
    <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
      <label>Nombre</label><br/>
      <input type="text"/>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
      <label>Correo</label><br/>
      <input type="text"/>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
      <label>Comentario</label><br/>
      <textarea type="text"></textarea>
    </div>
    <button type="submit" value="send" class="end-xs">Enviar</button>
  </form>
  <div class="content-footer row center-xs middle-xs around-xs">
    <div class="col-md-4 col-sm-6 col-xs-12 item-footer row"><img src="images/leaf.svg"/><span>Comprometidos</span>
      <h3>Con El Ambiente</h3>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-footer">
      <p>Télefono: 1765 23 45</p>
      <p>Calle 96 No. 13. 08 Oficina 302</p>
      <p>Bogotá D.C. , Colombia</p>
      <p class="text-small-footer">Marca Registrada Lantel, 2016</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 item-footer"><img src="images/logo/logo.png"/></div>
  </div>
</footer>