
<nav id="principal-menu">
  <ul class="row middle-xs center-xs limiter__container">
    <li class="logo-fixed"><a href="index.html"><img src="images/logo/logo-white.png" class="logo-img"/>
        <div data-menu=".menu" class="menu-bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="nosotros.html">
        <p class="text-item">NOSOTROS</p></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="consultoria.html">
        <p class="text-item">CONSULTORÍA</p></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="tel-comunicacion.html">
        <p class="text-item">TELECOMUNICACIONES</p></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="venta-capacidad.html">
        <p class="text-item">VENTA DE CAPACIDAD Y COBERTURA</p></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="suministros.html">
        <p class="text-item">SUMINISTROS</p></a></li>
    <li class="item col-xs row middle-xs center-xs"><a href="energia.html">
        <p class="text-item">ENERGÍA</p></a></li>
    <li class="social-icon-fixed-fb"><a href="#"><img src="images/facebook-icon.svg"/></a></li>
    <li class="social-icon-fixed-tw"><a href="#"><img src="images/twitter-icon.svg"/></a></li>
  </ul>
</nav>