<!DOCTYPE html>
<html>
  <head>
    <title>Lantel</title>
    <link href="vendor/normalize.css" rel="stylesheet">
    <link href="vendor/flexboxgrid.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <section class="error">
      <div class="content-error"><img src="images/img-error.svg"></div>
      <div class="text-error row center-xs middle-xs"><img src="images/logo/logo@x2.png" class="logo-error">
        <h3>Somos un equipo preparado para prestar el mejor servicio<span>.</span></h3>
        <div class="col-xs-12">
          <h2>error</h2>
        </div>
      </div>
      <footer class="limiter__container">
        <div class="content-footer row center-xs middle-xs around-xs">
          <div class="col-md-6 col-sm-6 col-xs-12 item-footer row"><img src="images/leaf.svg"><span>Comprometidos</span>
            <h3>Con El Ambiente</h3>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 item-footer">
            <p>Télefono: 1765 23 45</p>
            <p>Calle 96 No. 13. 08 Oficina 302</p>
            <p>Bogotá D.C. , Colombia</p>
            <p class="text-small-footer">Marca Registrada Lantel, 2016</p>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>