<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Lantel</title>
    <link rel="shortcut icon" href="images/logo/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="images/logo/favicon.ico" type="image/x-icon"/>
    <link href="vendor/normalize.css" rel="stylesheet"/>
    <link href="vendor/flexboxgrid.min.css" rel="stylesheet"/>
    <link href="vendor/fractionslider/fractionslider.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <script src="vendor/jquery.min.js"></script>
  </head>
  <body class="row center-xs">
    <header class="header_principal">
      <div class="limiter__container row middle-xs between-sm center-xs">
        <h1 class="col-lg-6 col-md-6 col-sm-12 start-xs"><a href="index.html"><img src="images/logo/logo@x2.png"/></a></h1>
        <h3 class="col-lg-4 col-md-6 col-sm-12">Somos un equipo preparado para prestar el mejor servicio<strong>.</strong></h3>
        <section class="social_icon col-lg-2 col-sm-12"><a href="#"><img src="images/facebook-icon.svg" class="to-svg"/></a><a href="#"><img src="images/twitter-icon.svg" class="to-svg"/></a></section>
      </div>
      <div class="bar-aux"><img src="images/logo/logo-white.png"/>
        <div data-menu=".menu" class="menu-bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div>
      </div>
      <nav id="principal-menu">
        <ul class="row middle-xs center-xs limiter__container">
          <li class="logo-fixed"><a href="index.html"><img src="images/logo/logo-white.png" class="logo-img"/>
              <div data-menu=".menu" class="menu-bars"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="nosotros.html">
              <p class="text-item">NOSOTROS</p></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="consultoria.html">
              <p class="text-item">CONSULTORÍA</p></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="tel-comunicacion.html">
              <p class="text-item">TELECOMUNICACIONES</p></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="venta-capacidad.html">
              <p class="text-item">VENTA DE CAPACIDAD Y COBERTURA</p></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="suministros.html">
              <p class="text-item">SUMINISTROS</p></a></li>
          <li class="item col-xs row middle-xs center-xs"><a href="energia.html">
              <p class="text-item">ENERGÍA</p></a></li>
          <li class="social-icon-fixed-fb"><a href="#"><img src="images/facebook-icon.svg"/></a></li>
          <li class="social-icon-fixed-tw"><a href="#"><img src="images/twitter-icon.svg"/></a></li>
        </ul>
      </nav>
    </header>
    <section class="content">
      <section class="limiter__container row top-xs consultancy">
        <div class="col-xs-12 row consultancy-item star-xs"><img src="images/plus-icon.svg" class="to-svg plus-tel"/>
          <h2 class="title-left">SOLUCIONES IT</h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui non rerum quaerat, vero fugit repellendus ea commodi quas, laudantium eum dicta sunt. Dicta est incidunt praesentium officia dolores autem aliquid.</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 row center-xs consultancy-item">
          <div style="background: url(images/consultancy/item-1.jpg) no-repeat center; background-size: cover;" class="col-xs-12 imagen"></div><img src="images/plus-icon.svg" class="col-xs-1 to-svg"/>
          <h2 class="col-xs-10">SEGURIDAD EN REDES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, in molestias aut. Sapiente iusto mollitia, facilis veritatis odit neque deserunt beatae quos nisi incidunt fugit optio totam fugiat ex autem!</p>
        </div>
      </section>
      <div class="limiter__container"><a href="#" class="row end-xs btn-back"><img src="images/back-icon.svg" class="col-xs-1 to-svg"/>
          <p class="col-xs-1">VOLVER</p></a></div>
    </section>
    <footer class="limiter__container">
      <form class="form-footer row middle-xs center-xs">
        <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
          <label>Nombre</label><br/>
          <input type="text"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
          <label>Correo</label><br/>
          <input type="text"/>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 start-xs">
          <label>Comentario</label><br/>
          <textarea type="text"></textarea>
        </div>
        <button type="submit" value="send" class="end-xs">Enviar</button>
      </form>
      <div class="content-footer row center-xs middle-xs around-xs">
        <div class="col-md-4 col-sm-6 col-xs-12 item-footer row"><img src="images/leaf.svg"/><span>Comprometidos</span>
          <h3>Con El Ambiente</h3>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 item-footer">
          <p>Télefono: 1765 23 45</p>
          <p>Calle 96 No. 13. 08 Oficina 302</p>
          <p>Bogotá D.C. , Colombia</p>
          <p class="text-small-footer">Marca Registrada Lantel, 2016</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 item-footer"><img src="images/logo/logo.png"/></div>
      </div>
    </footer>
    <script src="vendor/fractionslider/jquery.fractionslider.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>